<!DOCTYPE html>
<!--
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Home-Severless Translator</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{url_for('static', filename = 'js/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/skel.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/skel-layers.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/init.js')}}"></script>

		<link rel="stylesheet" href="{{url_for('static', filename = 'css/skel.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename = 'css/style-xlarge.css') }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">
		<!-- Header -->
			<header id="header">
				<h1><a href="{{url_for('index')}}">Severless Translation Web App</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="{{url_for('index')}}">Home</a></li>
						<li><a href="{{url_for('translate')}}">Translate</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>SERVERLESS TRANSLATION WEB APP</h2>
				<p>FLASK WEB APPLICATION FOR LANGUAGE TRANSLATION</p>
				<ul class="actions">
					<li>
						<a href="{{url_for('translate')}}", class="button big">Translate!</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 align-center">
				<div class="container">
					<header>
						<h2>How are we different?</h2>
					</header>
					<div class="row 200%">
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-clock-o"></i>
							<p>With serverless computing, infrastructure management tasks like capacity provisioning and patching are handled by AWS, we could realize our ideas and adapt to specific needs faster, cheaper and easier.</p>
						</section>
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-comments"></i>
							<p>With AWS CodePipeline, we could automate the build, test and deploy of this translation web app. With just a single update in the git repository, the change would reflect in the interactive web page quickly and reliably.</p>
						</section>
						<section class="4u$ 12u$(small)">
							<i class="icon big rounded fa-user"></i>
							<p>Amazon Translate is a neural machine translation service that delivers fast and high-quality language translation. It supports 71 languages with 4970 translation combinations.</p>
						</section>
					</div>
				</div>
			</section>
			
			
			<!-- Two -->
			<section>
				<h3>List supported languages</h3>
						<div class="fixed_header">
								<table>
									<thead>
                                             <tr>
                                                
                                                <th>Language</th>
                                                
                                                <th>Language Code</th>
                                                
                                             </tr>
                                             
                                          </thead>
                                          
                                          <tr>
                                             
                                             <td>Afrikaans</td>
                                             
                                             <td>af</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Albanian</td>
                                             
                                             <td>sq</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Amharic</td>
                                             
                                             <td>am</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Arabic</td>
                                             
                                             <td>ar</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Armenian</td>
                                             
                                             <td>hy</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Azerbaijani</td>
                                             
                                             <td>az</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Bengali</td>
                                             
                                             <td>bn</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Bosnian</td>
                                             
                                             <td>bs</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Bulgarian</td>
                                             
                                             <td>bg</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Catalan</td>
                                             
                                             <td>ca</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Chinese (Simplified)</td>
                                             
                                             <td>zh</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Chinese (Traditional)</td>
                                             
                                             <td>zh-TW</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Croatian</td>
                                             
                                             <td>hr</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Czech</td>
                                             
                                             <td>cs</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Danish</td>
                                             
                                             <td>da </td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Dari</td>
                                             
                                             <td>fa-AF</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Dutch</td>
                                             
                                             <td>nl </td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>English</td>
                                             
                                             <td>en</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Estonian</td>
                                             
                                             <td>et</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Farsi (Persian)</td>
                                             
                                             <td>fa</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Filipino Tagalog</td>
                                             
                                             <td>tl</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Finnish</td>
                                             
                                             <td>fi</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>French</td>
                                             
                                             <td>fr</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>French (Canada)</td>
                                             
                                             <td>fr-CA</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Georgian</td>
                                             
                                             <td>ka</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>German</td>
                                             
                                             <td>de</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Greek</td>
                                             
                                             <td>el</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Gujarati</td>
                                             
                                             <td>gu</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Haitian Creole</td>
                                             
                                             <td>ht</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Hausa</td>
                                             
                                             <td>ha</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Hebrew</td>
                                             
                                             <td>he </td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Hindi</td>
                                             
                                             <td>hi</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Hungarian</td>
                                             
                                             <td>hu</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Icelandic</td>
                                             
                                             <td>is</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Indonesian</td>
                                             
                                             <td>id </td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Italian</td>
                                             
                                             <td>it</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Japanese</td>
                                             
                                             <td>ja</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Kannada</td>
                                             
                                             <td>kn</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Kazakh</td>
                                             
                                             <td>kk</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Korean</td>
                                             
                                             <td>ko</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Latvian</td>
                                             
                                             <td>lv</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Lithuanian</td>
                                             
                                             <td>lt</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Macedonian</td>
                                             
                                             <td>mk</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Malay</td>
                                             
                                             <td>ms</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Malayalam</td>
                                             
                                             <td>ml</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Maltese</td>
                                             
                                             <td>mt</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Mongolian</td>
                                             
                                             <td>mn</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Norwegian</td>
                                             
                                             <td>no</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Persian</td>
                                             
                                             <td>fa</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Pashto</td>
                                             
                                             <td>ps</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Polish</td>
                                             
                                             <td>pl</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Portuguese</td>
                                             
                                             <td>pt</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Romanian</td>
                                             
                                             <td>ro</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Russian</td>
                                             
                                             <td>ru</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Serbian</td>
                                             
                                             <td>sr</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Sinhala</td>
                                             
                                             <td>si</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Slovak</td>
                                             
                                             <td>sk</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Slovenian</td>
                                             
                                             <td>sl</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Somali</td>
                                             
                                             <td>so</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Spanish</td>
                                             
                                             <td>es</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Spanish (Mexico)</td>
                                             
                                             <td>es-MX</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Swahili</td>
                                             
                                             <td>sw</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Swedish</td>
                                             
                                             <td>sv</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Tagalog</td>
                                             
                                             <td>tl</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Tamil</td>
                                             
                                             <td>ta</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Telugu</td>
                                             
                                             <td>te</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Thai</td>
                                             
                                             <td>th</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Turkish</td>
                                             
                                             <td>tr</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Ukrainian</td>
                                             
                                             <td>uk</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Urdu</td>
                                             
                                             <td>ur</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Uzbek</td>
                                             
                                             <td>uz</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Vietnamese</td>
                                             
                                             <td>vi</td>
                                             
                                          </tr>
                                          
                                          <tr>
                                             
                                             <td>Welsh</td>
                                             
                                             <td>cy</td>
                                             
                                          </tr>
                                          
                                       </table>
                                    </div>
                             
                                 
			</section>
			
			<!-- Footer -->
			<footer id="footer">
				<div class="container">
				
					<ul class="icons">
							<li><a href="https://github.com/JiamanBettyWu/ebflask" class="icon fa-github"><span class="label">Github</span></a></li>
						</ul>
			
					<ul class="copyright">
						
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>
	</body>
</html>